h1
  padding-top 100px !important

.ui-post-summary
  color #000 !important
  font-size 15px !important

footer a:hover
  color #FF2D00 !important

.content__default h1
  margin-top -55px !important

.content-wrapper
  padding-top: 75px !important
  padding-bottom: 25px !important

.footer-h
  margin-top: .05em !important
  margin-bottom: 1.25em !important
  border-bottom: 0px solid #fff

.top-banner
  margin-top: 35px !important
  margin-bottom: 15px !important
  border-bottom: 0px solid #fff

@media (max-width: $MQMobile)
  .top-banner
    margin-top: 10px !important
    margin-bottom: 50px !important
    border-bottom: 0px solid #fff

// narrow mobile
@media (max-width: $MQMobileNarrow)
  .top-banner
    margin-top: 10px !important
    margin-bottom: 50px !important
    border-bottom: 0px solid #fff

